
*{
	margin-bottom: 0;
	padding-bottom: 0;
	box-sizing: border-box;
}

body{
	font-family: Helvetica,  Arial,  sans-serif;
}

.header {
	margin-bottom: 1em;
}

.main-menu {
	display: flex;
	list-style: none;
	flex-wrap: wrap;
	padding: 0;
}

.menu-item {
	margin-bottom: 3em;
}

.menu-item a {
	border: 1px solid #123;
	text-decoration: none;
	color: #123;
	border-radius: .2em;
	margin: 0 .3em;
	padding: .3em 1em;
}

.menu-item > a:hover, 
.menu-item > a:active {
	color: #fff;
	background: #123;
}

.menu-item.selected > a {
	color: #fff;
	background: #456;
}

.img-list-ul {
	padding: 0;
	list-style: none;
}

.tab-component {
	max-width: 500px;
	border: 1px solid #123;
}

.tc-list {
	display: flex;
	padding: 0;
	margin: 0;
	list-style: none;
}

.tc-list > li {
	margin: 0;
	padding: .3em 1.2em;
	border: 1px solid #123;
	border-top: none;
	border-left: none;
}

.tc-list li:hover {
	background: #2aa;
	cursor: pointer;
}

.tc-list li.selected {
	background: #288;
	border-bottom: 1px solid #288;
	color: #fff;
}

.tc-body {
	height: 200px;
	background: #288;
	display: flex;
	justify-content: center;
	align-items: center;
	color: #fff;
	font-size:1.3rem;
	cursor: help;
}

.form-header {
	display: flex;
}

.form-body-ul {
	list-style: none;
	width: 300px;
}

.form-row-li {
	margin: .5em 0;
	padding: .3em ; 
	border-bottom: 1px solid #123;
	align-items: right;
}

.form-remove-button {
	margin-left: 1em;
}
/* 




*/